@import "../../../style/variebles";
.btn{
  border: none;
  background: transparent;
  border-radius: 80px;
  padding: 4px 21px;
  min-width: 100px;
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  &.yellow{
    background: $yellow;
  }
  &:hover{
    background-color: $yellow_hover;
  }
  &:disabled{
    background-color: $gray;
    color:$white;
  }
}
