@import "style/variebles.scss";
@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../public/fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}
@import "style/fonts";
body {
  margin: 0;
  font-family: Nunito, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: $black;
  background-color: $light_gray;
}
.css-1wc848c-MuiFormHelperText-root{
  color: red;
}


